{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <h1 class="display-4">{{current.title}} ({{current.year}}) 👀</h1>
        <h2>🎥 {{current.director}}</h2>
        <h3><i class="fa fa-language"></i> {{current.language}}</h3>
        <p class="lead">{{current.plot}}</p>
        <ul>
          {% for rating in current.ratings %}
            <li>Rating: {{rating.Value}} <small>Source: {{rating.Source}}</small> </li>
          {% endfor %}
        </ul>
        <hr/>
        <p>
          Duración: <a class="badge badge-danger" href="">{{current.runtime}}</a>
          Votos en IMDB: <a class="badge badge-dark" href="">{{current.imdbvotes}}</a>
          Metascore: <a class="badge badge-warning" href="">{{current.metascore}}</a>
        </p>
				<div class="btn-group-lg mb-3 ml-5" role="group" aria-label="Grupo">
					<a href="{{ url_for('watch_movie', _id=current.id) }}" class="btn btn-light btn-lg" role="button">
            Vista <i class="fa fa-eye"></i>
					</a>
					{% if current.is_fav %}
						<a href="{{ url_for('unset_fav', _id=current.id) }}" class="btn btn-danger btn-lg" role="button">
							Desfav <i class="fa fa-star-o"></i>
						</a>
					{% else %}
						<a href="{{ url_for('set_fav', _id=current.id) }}" class="btn btn-warning btn-lg" role="button">
							Favorita <i class="fa fa-star"></i>
						</a>
					{% endif %}
				</div>
      </div>
      <div class="col-12 col-md-4">
        <img class="rounded mx-auto" src="{{current.poster}}" alt="">
      </div>
    </div>
  </div>
</div>
  <hr class="my-4">
  <div class="container-fluid">
    <h1>Lista de peliculas <i class="fa fa-list-alt"></i></h1>
    <h2>Total de peliculas: {{ movies |length }}</h2>
    {% for row in movies|slice(rows) %}
      <div class="row justify-content-center">
        {% for movie in row %}
          <div class="col-md-3 mt-3">
            {{ card_render(movie) }}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>

{% endblock%}
