{% macro nav_link(endpoint, name) %}
  {% if request.endpoint.endswith(endpoint) %}
    <li class="nav-item active">
      <a class="nav-link" href="{{ url_for(endpoint) }}">{{name}} <span class="sr-only">(current)</span></a></li>
  {% else %}
    <li class="nav-item"><a class="nav-link" href="{{ url_for(endpoint) }}">{{name}}</a></li>
  {% endif %}
{% endmacro %}


{% macro card_render(movie) %}

  {% if movie.is_watch %}

    <div class="card text-white bg-dark h-100">
      {%if movie.poster %}
        <img class="card-img-top" src="{{movie.poster}}" alt="Poster de {{movie.title}}"/>
      {% else %}
        <img class="card-img-top" src="https://http.cat/404" alt="Poster no encontrado"/>
      {% endif %}

      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item"><a class="nav-link active" href="">General</a></li>
          <li class="nav-item"><a class="nav-link" href="">Cast</a></li>
          <li class="nav-item"><a class="nav-link" href="">Criticas</a></li>
        </ul>
      </div>

      <div class="card-body">
          <h3 class="card-title"> {{movie.title}} <small>({{movie.year}})</small></h3>
          <h5 class="card-subtitle mb-2 text-muted">🎥 {{ movie.director }}</h5>
          <h6><i class="fa fa-language"></i> {{movie.language}}</h6>
          <p class="font-weight-light">{{ movie.plot }}</p>
					<div class="continer mt-auto">
						<div class="row">
							<div class="col-6">
								<a href="{{ url_for('unwatch_movie', _id=movie.id) }}" class="btn btn-light" role="button">
									No vista <i class="fa fa-eye-slash"></i>
								</a>
							</div>
							<div class="col-6">
							{% if movie.is_fav %}
								<a class="btn btn-danger" href="{{ url_for('unset_fav', _id=movie.id) }}" role="button">
									Desfav <i class="fa fa-star-half-o"></i>
								</a>
							{% else %}
								<a class="btn btn-warning" href="{{ url_for('set_fav', _id=movie.id) }}" role="button">
									Favorita <i class="fa fa-star"></i>
								</a>
							{% endif %}
							</div>
						</div>
					</div>
      </div>
      <div class="card-footer">
        <p>Duración: <span class="badge badge-danger">{{movie.runtime}}</span></p>
        <p>Votos en IMDB: <span class="badge badge-light">{{movie.imdbvotes}}</span></p>
        <p>Metascore: <span class="badge badge-warning">{{movie.metascore}}</span></p>
      </div>
    </div>

  {% else %}

    <div class="card h-100">
      {%if movie.poster %}
        <img class="card-img-top" src="{{movie.poster}}" alt="Poster de {{movie.title}}"/>
      {% else %}
        <img class="card-img-top" src="https://http.cat/404" alt="Poster no encontrado"/>
      {% endif %}

      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item"><a class="nav-link active" href="">General</a></li>
          <li class="nav-item"><a class="nav-link" href="">Cast</a></li>
          <li class="nav-item"><a class="nav-link" href="">Criticas</a></li>
        </ul>
      </div>

      <div class="card-body d-flex flex-column">
				<h3 class="card-title"> {% if movie.is_fav %} <i class="fa fa-star"></i> {% endif %} {{movie.title}} <small class="text-muted">({{movie.year}})</small></h3>
        <h5 class="card-subtitle mb-2 text-muted">🎥 {{ movie.director }}</h5>
        <h6><i class="fa fa-language"></i> {{movie.language}}</h6>
        <p class="font-weight-light">{{ movie.plot }}</p>
        <div class="container mt-auto">
					<div class="row">
						<div class="col-6">
							<a href="{{ url_for('watch_movie', _id=movie.id) }}" class="btn btn-success" role="button">
								Vista <i class="fa fa-eye"></i>
							</a>
						</div>
						<div class="col-6">
							{% if movie.is_fav %}
								<a class="btn btn-danger" href="{{ url_for('unset_fav', _id=movie.id) }}" role="button">
									Desfav <i class="fa fa-star-half-o"></i>
								</a>
							{% else %}
								<a class="btn btn-warning" href="{{ url_for('set_fav', _id=movie.id) }}" role="button">
									Favorita <i class="fa fa-star"></i>
								</a>
							{% endif %}
						</div>
					</div>
        </div>
      </div>

      <div class="card-footer text-muted">
        <p>Duración: <span class="badge badge-danger">{{movie.runtime}}</span></p>
        <p>Votos en IMDB: <span class="badge badge-dark">{{movie.imdbvotes}}</span></p>
        <p>Metascore: <span class="badge badge-warning">{{movie.metascore}}</span></p>
      </div>
    </div>

  {% endif %}

{% endmacro %}
